.modal-content {
  background: white;
  padding: 20px;
  border-radius: 4px;
  font-family: "Raleway";
}

.modal-footer {
  background-image: url(../images/jbThumbnail.jpg);
}

.modal-header {
  background-image: url(../images/jbThumbnail.jpg);
}

.navbar-nav {
  background: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 10px;
  user-select: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.event {
  display: none;
  margin-top: 10px;
  height: 370px;
}

.mobileEvent {
  display: none;
}

.cardImg {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#firstBusCard .cardImg {
  background-image: url("../ceremony/JackieBraden145.jpg");
  height: 170px;
}

#ceremonyCard .cardImg {
  background-image: url("../ceremony/JackieBraden161.jpg");
  height: 170px;
}

#receptionCard .cardImg {
  background-image: url("../ceremony/JackieBraden186.jpg");
  height: 170px;
}

#lastBusCard .cardImg {
  background-image: url("../ceremony/JackieBraden035.jpg");
  height: 170px;
}

.collapsible li.active .collapsible-header {
  /*background: #fcf2fc;*/
  background-image: url(../images/jbThumbnail.jpg);
}

.collapsible li.active .fa{
  color: #707070;
}

.fa {
  color: #b0b0b0;
}

.card:active .fa {
  color: #707070;
}

.desktopIcon {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
}

.desktopButton {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 20px;
  color: #707070;
  font-family: Bubbler One;
}

.desktopInfo {
  line-height: 25px;
  font-size: 20px;
}

.moreInfo {
  font-style: italic;
  font-size: 10px;
}

.selectedButton {
  /*background: #fcf2fc;*/
  background-image: url(../images/jbThumbnail.jpg);
}

.selectedButton .fa {
  color: #707070;
}

h1 {
  font-size: 4em;
}

.event h1 {
  font-size: 3em;
  margin-top: 0;
}

.event p {
  font-size: 1em;
}

.mobileEvent p {
  font-size: 1em;
}

#eventTitle {
  color: black;
  font-size: 1.1em;
}

@media(max-width:512px) {
  .desktopTimeline {
    display: none;
  }
  .mobileEvent {
    display: block;
  }
  .event {
    display: none !important;
  }
  h1 {
    font-size: 3em;
  }
}
