.form-error {
	display:none;
	outline: 1px solid red;
	margin-top: 20px;
}
.form-error>h3 {
	color: red;
}
.btn-x {
	color: white;
	font-weight: bold;
}
.guest-list-item {
	margin-top: 15px;
}
#rsvp_form {
}
#rsvp_form_success {
	display:none;
}